* {
  margin: 0;
  padding: 0;
}

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

h2,
h4 {
  line-height: 1.2;
  margin-bottom: 1rem;
}

h2 {
  color: #e7332b;
  font-size: 3.6rem;
  margin: 20px 10px;
  overflow-wrap: break-word;
  padding-bottom: 1rem;
  text-align: center;
  border-bottom: 3px solid #e7332b;
  word-spacing: 5px;
}

h4 {
  font-size: 2.4rem;
}

.wrapper {
  border-radius: 10px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin: 6rem auto;
  max-width: 50%;
  min-width: 465px;
  padding: 1rem 2rem;
}

form {
  padding: 20px;
  padding-top: 10px;
}

label {
  font-size: 1.8rem;
}

label[for="b1"],
label[for="bc1"] {
  margin-right: 2rem;
}

.input-group:last-child {
  text-align: center;
}

.fa-cc-visa:before,
.fa-cc-paypal:before {
  margin-right: 5px;
}

.input-box > .name,
.input-box > input[type="tel"],
.dob,
select {
  border: 2px solid #80808075;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  outline: none;
  padding: 1rem;
  width: 85%;
}

.input-box > .name:focus,
.input-box > input[type="tel"]:focus,
.dob:focus,
input[type="radio"]:focus,
select:focus {
  border: 2px solid rgb(136, 191, 247);
  box-shadow: 0 0 10px 1px rgba(30, 144, 255, 0.2);
}

.dob {
  display: inline-flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  margin-right: 1rem;
  justify-content: space-between;
  width: 20%;
}

select {
  border-radius: 5px;
  font-size: 1.5rem;
  /* margin-right: 1rem; */
  padding: 1rem;
  width: calc((100% - 10px) / 2);
}

select:nth-of-type(1) {
  margin-right: 1rem;
}

button {
  background-color: #e2dddd78;
  border: 2px solid #ee483f;
  font-size: 2rem;
  font-weight: 600;
  outline: none;
  border-radius: 50px;
  margin: 2rem auto;
  padding: 1.6rem 3.6rem;
  transition: background-color 0.5s, color 0.5s;
  width: 50%;
}

button:hover {
  background-color: #e73b31;
  box-shadow: 0 0 2px 1px #2d6290;
  color: white;
}

.input-box button {
  margin: 2rem auto;
}

.input-box button:hover {
  cursor: pointer;
}

.input-group .input-box h4 {
  /* color: red; */
  text-transform: capitalize;
  margin-top: 1rem;
}

.input-group:nth-of-type(4) h4 {
  /* color: dodgerblue; */
  margin-top: 3rem;
}

.input-box:nth-of-type(2) h4 {
  /* color: orange; */
  margin: 3rem 0 0;
}

.input-group:nth-of-type(4),
.input-group:nth-of-type(5) {
  /* color: orange; */
  margin: 1rem 0 0;
}

.input-group:nth-of-type(4) h4 {
  /* color: orange; */
  margin-bottom: 0;
}

.input-group:nth-of-type(5) {
  /* color: orange; */
  /* margin: 1rem 0 0; */
}

.input-group:nth-of-type(1),
.input-group:nth-of-type(2),
.input-group:nth-of-type(5),
.input-group:nth-of-type(6) {
  /* background-color: grey; */
  align-items: stretch;
  display: flex;
  flex-direction: row; /*changed*/
  flex-wrap: wrap;
}

.input-group:nth-of-type(3),
.input-group:nth-of-type(6) > .input-box:nth-of-type(2) {
  width: calc(100% - 28.67px);
  flex-wrap: wrap;
}

.input-group:nth-of-type(3) > h4 {
  display: block;
  width: 100%;
}

.dob {
  margin: 0;
  /* margin-right: 5px; */
  width: calc((100% - 86px) / 3);
}

.dob:nth-of-type(3) {
  margin-right: 0;
}

.input-group:nth-of-type(1) > .input-box,
.input-group:nth-of-type(2) > .input-box,
.input-group:nth-of-type(5) > .input-box,
.input-group:nth-of-type(6) > .input-box {
  /* background-color: grey; */
  align-items: baseline;
  display: flex;
  width: 100%;
}

.input-group:nth-of-type(1) > .input-box > input,
.input-group:nth-of-type(2) > .input-box > input,
.input-group:nth-of-type(5) > .input-box > input,
.input-group:nth-of-type(6) > .input-box > input {
  /* background-color: red; */
  margin-right: 3px;
  width: calc(100% - 52px);
}

.fa {
  text-transform: capitalize;
}

.fa::before {
  color: #b7afaf;
}

input[type="radio"] {
  height: 18px;
  width: 18px;
  position: relative;
  top: 1px;
}
